.form {
  max-width: 600px;
}
.btn {
  outline: transparent;
  border: transparent;
  border-radius: 4px;
}
.input{
    outline: transparent;
}
img {
  display: inline;
}
.imageLinkBtn{
  background: transparent;
  border: groove 1px black;
  color: black;
}